@import url(https://fonts.google.com/specimen/Barlow+Condensed);

:root {
    --primary-color: #474647;
    --secondary-color: #7BCCC5;
    --accent1-color: #F7CA39;
    --accent2-color: #91A03A;

    --heading-font: "Barlow Condensed", sans-serif;
    --paragraph-font: "Barlow Condensed", sans-serif;

    --nav-background-color: #474647;
    --nav-link-color:#7BCCC5;
    --nav-hover-link-color: #F7CA39;
    --nav-hover-background-color:#474647;
}

/* Overall CSS */

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
}

header {
    display: grid;
    grid-template-columns: 30fr 70fr;
    padding: 10px;
    background-color:#7BCCC5;
    margin-bottom: 10px;
    align-items: center;
}

header img {
    width: 150px;
    justify-self: center;
}

header nav {
    display: flex;
    justify-self: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
}

header nav a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color:#518883;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-family: var(--heading-font);
}

/* About Us Page CSS */

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

div h1{
    position: absolute;
    color: white;
    padding-left: 363px;
    padding-right: 364px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
}

article {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 50px;
    top: 25%;
}

article img {
    width: 270px !important;
    height: auto !important;
    float: right;
    margin-left: 20px;
}

.history {
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px auto;
    padding: 10px;
    background-color: #474647;
}

.history-title {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 2rem;
}

.history-img {
    width: 270px;
    height: auto;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    margin: 10px;
}

.history-paragraph-1 {
    grid-row: 2;
    grid-column: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-self: center;
    color:white;
}

.history-paragraph-2 {
    grid-row: 2;
    grid-column: 3;
    margin-left: 10px;
    margin-right: 10px;
    justify-self: center;
    color:white;
}

.adventure {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(5, auto);
    padding: 10px;
    background-color: #6a752d;
    margin-top: 10px;
    color: white;
    text-align: center;
    
}

.adventure-title {
    grid-row: 1;
    grid-column: 1/6;
}

.adventure img {
    width: 100%;
}

.adv-img-1 {
    grid-row: 2;
    grid-column: 1;
}

.adv-img-2 {
    grid-row: 2;
    grid-column: 2;
}

.adv-img-3 {
    grid-row: 2;
    grid-column: 3;
}

.adv-img-4 {
    grid-row: 2;
    grid-column: 4;
}

.adv-img-5 {
    grid-row: 2;
    grid-column: 5;
}

.adventure figure {
    margin: 5px;
}

.adventure figure img{
    width: 170px;
}

footer {
    padding: 10px;
    background-color: #7BCCC5;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: end;
}

footer img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Trips Page CSS */

.background-image {
    position: absolute;
    z-index: -1;
    width: 960px;
}

div .trips {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 10px;
    grid-gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    justify-content: center;
}

div .trips img {
    width: 90%;
}

.contact-button {
    display:inline-block;
    padding: 20px;
    background-color: #F7CA39;
    color: white;
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 38%;
}

/* Home Page CSS */

.home-content {
    display: flex;
}

.home-content form {
    width: 100%;
}

form {
    padding: 10px;
    background-color: #2c2c2c;
    color: white;
    font-size: 18px;
}

form h1 {
    text-align: center;
    color:#F7CA39;
}

fieldset{
    border:0;
}

label {
    font-weight: bold;
    color:#F7CA39
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    background-color:#F7CA39;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 37%;
}

.trips-check {
    display: flex;
    padding: 25px;
    justify-content: space-around;
}

.trips-check img {
    width: 250px;
    border-radius: 10px;
}

.header {
    padding: 15px;
    background-color: #2c2c2c;
}

div h2{
    text-align: center;
    color: white;
}

.trips-check a img:hover {
    filter: grayscale(100%);
}
